/build

*.log

*.tmp
*.temp

.idea
/.idea
*.iml

local.properties

.gradle

*.jks

captures/

navigation/
build/

app/src/main/res/values/strings.xml


proguard-rules.pro

/output

*.c

*.apk
*.aab

*.keystore
